# Python Homework #1 part 1

## Corresponding Outcomes
 - __EO2:__ Examine and contrast various common data structures.
 - __GOPy2:__ Compare and contrast Python-specific data structures (e.g. dictionaries, lists).

## Instructions
In a group of 1-3 students, work on answering the following questions in a Jupyter notebook. Export the ipynb file with your solutions as a pdf, and upload it to Canvas.

## Group Information
 - Group Member 1:
 - Group Member 2:
 - Group Member 3:

## Question 1 - Division and Int

Evaluate 3.3 divided by 1.1, and in the same line, convert the result to an integer (using `int`).  What is strange about the result?  Can you figure out why that happened?  What would you say is a lesson you can take away from this example?  (Answer these short answer questions in a markdown cell.)

In [5]:
#Write your code in this cell

_Add your explanation Question 1 to this Markdown cell:_

## Question 2 - Adding Data Types

For each of the following data types, define `x` and `y` to be two objects of that data type, and try to combine them together using `+`. If they can be combined using `+`, try to explain what `x+y` represents in a markdown cell.  The first data type, `int`, has been done for you.

* `int`

In [1]:
x = 5
y = 3

In [2]:
type(x)

int

In [3]:
x+y

8

**Explanation:**  In the case that `x` and `y` are integers, `x+y` represents ordinary addition of integers.

* `float`

__Explanation:__

* `bool`

__Explanation:__

* `set`

__Explanation:__

* `tuple`

__Explanation:__

* `list`

__Explanation:__

* `str`

__Explanation:__

* `range`

__Explanation:__

* `dict`

__Explanation:__

## Question 3 - Convert to String

The usual way to convert to a string is by using `str`.  For example, try to convert the integers 123 and -10 to strings using `str`.  (Be sure your inputs to the `str` functions are integers and not themselves strings.)

There are also some special built-in functions in Python that can be used to convert from an integer to a string, such as `bin`, `format`, and `chr`.  Each one has its own purpose.

- Try converting those same integers, 123 and -10, into strings using the function `bin`.  Explain briefly the result.  (Use `help(bin)` to get information about this function.)

_Write your explanation in this Markdown cell:_

- Try the same thing using `format(n,"b")` and `format(n, "08b")`, where you replace `n` is these same values, 123 and -10.  The "08" portion indicates that the length should be exactly 8, possibly with leading 0s.

- Try converting those same integers, 123 and -10, into strings using `chr`.  (Hint.  One of the two will raise a `ValueError`.)

- Can you figure out what is the maximum integer `n` for which `chr(n)` is defined?  The weird number in the error message is written neither in the usual decimal notation, nor in binary notation. (Hint: you can use the `try` and `except` commands in order to run code after the error occurs).

## Question 4 - Character Printing

Define `n=100`.  In that case, `chr(n)` will be the letter `d`.  Check this.

- Print `n` and `chr(n)` on the same line by manipulating strings and combining them using `+` (as similar to an earlier question). The final result of what you `print` should look like "100: d"

For each integer `i` from 0 (inclusive) to 255 (inclusive), print `i` and `chr(i)` on the same line, as you just did for `n=100`.  Use a `for` loop.  (Don't worry if 0 through 32 look blank.  That is correct; they all represent whitespace, I believe.  For example, newline `"\n"` corresponds to 10; can you recognize that in the for loop?)